/* style for everything */

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

/* styles from style sheet */

a{
    text-decoration: none;
    color: #85d0c6;
    font-size: 14px;
}

a:hover{
    color: #143766;
}

a:active{
    color: #f8c13b
}

h1{
    font-weight: 100;
    font-size: 180px;
    text-transform: lowercase;
    color: #143766;
}

h2{
    font-family: 'Montserrat Alternates';
    font-weight: bolder;
    font-size: 60px;
}

h3{
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    text-transform: lowercase;
    color: #143766;
}

h4{
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    text-transform: lowercase;
    color: #f8c13b;
    margin: 10px 0;
}
p{
    color: #143766;
    text-transform: lowercase;
    text-align: center;
    font-size: 17px;
    margin: 5px 40px;
}
/* navbar styles */

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
    font-size: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

/* style for columns on index page */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.introCol1{
    flex-basis: 60%;
    position: relative;
    margin-left: 50px;
}

.introCol2{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.introCol2 ul li{
    list-style: none;
    display: inline-block;
    margin: 40px 40px;
}

/* style for selection and what's next pages*/

.thirdCol1{
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.thirdCol2{
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.thirdCol3{
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%; 
}

/* media queries */
@media only screen and (max-width:700px){
    h1{
        font-size: 60px;
        text-align: center;
    }
    h2{
        font-size: 0px;
    }
    nav ul{
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow:hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column;
        margin: 0px 0;
    }
    .introCol1{
        flex-basis: 100%;
        margin: 90px 0px;
    }
    .introCol2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    


}


