/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header{
  background-image: linear-gradient(to bottom,rgba(104, 255, 17, 0.1), rgba(255,7,7,0));
  border-radius: 1.5em 1.5em 0 0;
}

.card footer{
  background-image: linear-gradient(to bottom,rgba(224, 43, 227, 0), rgba(80,2,2,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

.card article img{
  max-height: 100%;
  height: 12em;
  float: right;
  background-color: rgba(0, 0, 0, 0.9);
}

.card article p{
  padding: 1.75em 1.75em 1.75em 1em ;
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

h2, p {
  margin: 0;
}

h2 {
  font-size: 2em;
  line-height: 1em
}

.card footer p{
  font-size: 1.5em;
  line-height: 1.5em;
}

.card header, .card footer{
  height: 3em;
  padding: 1em;
}
